/* 배경 색 지정하기 */
/* background-color: 색 */

.backgcolor div:nth-child(1) {
    background-color: black;
    color: white;
}   

.backgcolor div:nth-child(2) {
    background-color: #aaaaaa;
    color: white;
}   

.backgcolor div:nth-child(3) {
    background-color: rgb(255,255, 0);
    color: white;
}   

.backgcolor div:nth-child(4) {
    background-color: rgba(0,255,255,0.5);
    color: white;
}   

/* 무늬 넣기 */
.backgcolor div:nth-child(5) {
    width: 300px;
    /* height: 300px; */
    background: repeating-linear-gradient(
        90deg, 
        #f06 0px,
        #f06 20px,
        #fff 20px,
        #fff 40px
    );
    color: white;
}   

.backgcolor div:nth-child(6) {

    background: radial-gradient(#000 10%, transparent 10%);
    background-size: 20px, 20px;
    color: white;
}   

.backgcolor div:nth-child(7) {
    height: 300px;
    background: repeating-linear-gradient(
        90deg, 
        #f06 0px,
        #f06 20px,
        #fff 20px,
        #fff 40px
    ),
    repeating-linear-gradient(
        0deg, 
        #f06 0px,
        #f06 20px,
        #fff 20px,
        #fff 40px
    );
    background-blend-mode: multiply;
    color: white;
}   

/* 이미지 넣기 */
/* background-image 배경이미지 삽입 */
/* background-repeat 배경이미지를 반복 */
/* background-position 배경 이미지의 위치 지정 */
/* background-size 배경 이미지의 크기 */
/* background-attachment 배경 이미지가 움직이지 않게 고정 */

.backimg div {
    width: 200px;
    height:200px;
    border: 1px solid black;
}

/* 이미지 넣기 */
.backimg div:nth-child(1) {
    background-image: url(../HTML/img/pattern.png);
}

/* 이미지 넣기 삽입된 이미지가 반복  */
.backimg div:nth-child(2) {
    width: 500px;
    height: 500px;
    background-image: url(../HTML/img/car1_small.jpg);
}

/* 삽입한 이미지를 가로로만 반복 */
.backimg div:nth-child(3) {
    width: 300px;
    height: 300px;
    background-image: url(../HTML/img/pattern.png);
    background-repeat: repeat-x;
}

/* 삽입한 이미지를 세로로만 반복 */
.backimg div:nth-child(4) {
    width: 300px;
    height: 300px;
    background-image: url(../HTML/img/pattern.png);
    background-repeat: repeat-y;
}

/* no-repeat으로 이미지 반복 X */
.backimg div:nth-child(5) {
    width: 300px;
    height: 300px;
    background-image: url(../HTML/img/pattern.png);
    background-repeat: no-repeat;
}

/* 이미지 위치 조정하기 */
/* background-position 좌우  상하*/
.backimg div:nth-child(6) {
    width: 300px;
    height: 300px;
    background-image: url(../HTML/img/pattern.png);
    background-repeat: no-repeat;
    background-position: center;
}

.backimg div:nth-child(7) {
    width: 300px;
    height: 300px;
    background-image: url(../HTML/img/pattern.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.backimg div:nth-child(8) {
    width: 300px;
    height: 300px;
    background-image: url(../HTML/img/pattern.png);
    background-repeat: no-repeat;
    background-position: right top;
}

/* px 단위로 이미지 배치하기 */
.backimg div:nth-child(9) {
    width: 300px;
    height: 500px;
    background-image: url(../HTML/img/pattern.png);
    background-repeat: no-repeat;
    background-position: 100px 100px;
}

.backimg div:nth-child(10) {
    width: 500px;
    height: 500px;
    background-image: url(../HTML/img/pattern.png);
    background-repeat: no-repeat;
    background-position: 20% 10%;
}


/* 배경 이미지 크기 조절하기 */
.img_size div {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

/* 삽입하는 이미지가 삽입될 공간보다 커서 삽입 영역에 맞출 때 */
/* background-size: contain */
.img_size div:first-child {
    background-image: url(../HTML/img/rose.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/* background-size: cover 이미지를 공간에 꽉 차게 사이즈 조절*/
.img_size div:last-child {
    background-image: url(../HTML/img/rose.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* 두 개의 이미지를 겹치고 싶을 때 */

div.twoinone {
    width: 90vw;
    height: 90vh;
    margin: 4vh auto;
    border: 1px solid black;
}

.twoinone div {
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 1px solid red; */
    background-attachment: fixed;
}

.twoinone div:first-child {
    background-image: url(../HTML/img/car1.jpg);
    background-size: contain;
}

.twoinone div:last-child {
    background-image: url(../HTML/img/car2.jpg);
    background-size: contain;
}

/* float 블록 요소 좌우로 배치하기 */
.wrap {
    width: 800px;
    margin: 100px, auto;
    border: 5px solid black;
}

.wrap .left {
    width: 400px;
    height: 400px;
    background-color: pink;
    float: left;
}

.wrap .right {
    width: 400px;
    height: 400px;
    background-color: lightblue;
    float: left;
}

.wrap::after {
    content:" ";
    display: block;
    clear: both;
}

/* float으로 이미지와 글 배치하기 */
.float img {
    width: 200px;
    float: left;
    margin-right: 1rem;
}


/* position 요소를 자유롭게 배치하기 */
/* relative: 적용된 요소의 현재 위칫값을 기준으로 상대위치를 정함 */
/* absolute: 부모 요소의 특정 구간을 기준으로 절대 위치 정함 */
/* fixed: 웹브라우저를 기준으로 절대 위치를 지정 */

.box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
}

.red-box{
    background-color: red;
}

.green-box {
    background-color: green;
}

.blue-box {
    background-color: blue;
}

/* relative */
/* .green-box {
    position:relative;
    left: 100px;
    top: 100 px;
} */

.green-box {
    position:absolute;
    left: 100px;
    top: 50%;
    bottom: 10%;
    right: 10%;
    opacity: 0.3;
}

/* z-index 겹쳐 있는 요소의 z축 순서 정하기 */
/* z-index 숫자가 높으면 위로 올라감 */

.zindex {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 100px auto;
    position: relative;
}

.zindex .zileft {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 4;
}

.zindex .zimiddle {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 5;
}

.zindex .ziright {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 3;
}

/* opacity 투명도 조절하기 */
/* 1은 불투명, 0 투명 */

.opacity {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 100px auto;
    position: relative;
}

.opacity .opleft {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 4;
    opacity: 0.3;
}

.opacity .opmiddle {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 2;
    opacity: 0.5;
}

.opacity .opright {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    opacity: 0.1;
}

/* box-shadow, text-shadow 그림자 넣기 */
.shadow {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 100px auto;
    position: relative;
}

.shadow .shleft {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 4;
    opacity: 1;
    font-size: 30px;
    line-height: 200px;
    text-align: center;
    color: white;
    text-shadow: 10px 10px 10px red;
    box-shadow: 30px 30px 30px black;
}

.shadow .shmiddle {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 2;
    opacity: 0.5;
}

.shadow .shright {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    opacity: 0.1;
}

/* border-radius로 모서리 둥글게 만들기 */
.radius {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 100px auto;
    position: relative;
}

.radius .shleft {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 4;
    opacity: 1;
    font-size: 30px;
    line-height: 200px;
    text-align: center;
    color: white;
    text-shadow: 10px 10px 0px red;
    box-shadow: 30px -30px 30px black;
    border-radius: 30px;
}

.radius .shmiddle {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 2;
    border-radius: 20%;
}

.radius .shright {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    bottom: 10px;
    right: 0px;
    z-index: 1;
    /* opacity: 0.1; */
    border-radius: 50%;
    background-image: url(../HTML/img/rose.jpg);
    background-size: contain;

}

/* linear-gradient로 그레디언트 적용하기 */
/* linear-gradient(방향, 색상1, 색상2) */
.box {
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    color: white;
    border: 1px solid black;
}

.gradient .box.grleft {
    background: linear-gradient(to top, blue, red);
}

.gradient .box.grmiddle {
    background: linear-gradient(45deg, blue, red);
}

.gradient .box.grright {
    background: linear-gradient(to right, blue, red);
}

/* filter로 특수효과 적용하기 */
.filter div {
    background-image: url(../HTML/img/rose.jpg);
    background-size: contain;
}

.filter div:nth-child(1) {
    filter: blur(3px);
}

/* brightness 0 어둡고 1 밝음 */
.filter div:nth-child(2) {
    filter: brightness(0.3);
}

/* 100% 작아지면 대비 감소, 커지면 증가 */
.filter div:nth-child(3) {
    filter: contrast(130%)
}

/* 100%에 가까울 수록 흑백으로 전환 */
.filter div:nth-child(4) {
    filter: grayscale(50%)
}

/* 0원본 색상 0-360deg까지 변경 가능 */
.filter div:nth-child(5) {
    filter: hue-rotate(180deg)
}

/* 100% 가까울수록 색이 반대로 변환됨 */
.filter div:nth-child(6) {
    filter: invert(100%)
}

/* 0에 가까울 수록 채도가 낮아짐 */
.filter div:nth-child(7) {
    filter: saturate(0.5)
}

/* 100%에 가까울 수록 갈색 톤으로 변경됨 */
.filter div:nth-child(8) {
    filter: sepia(100%)
}


