/*  콘텐츠 모양을 자유롭게 변형하기 */

section {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    /* float: left; */
    margin: 50px;
}

section article {
    width: 100%;
    height: 100%;
    background: blue;
    opacity: 0.3;
}

/* scale 확대/축소 */
/* 1은 원래 크기 1보다 작으면 축소, 크면 확대 */
section:nth-of-type(1) article {
    transform: scale(0.8);
}

/* 20도 만큼 비틈 */
section:nth-of-type(2) article {
    /* transform: skewX(-20deg); */
    transform: skewY(20deg);
}

/* 요소를 이동 */
section:nth-of-type(3) article {
    transform: translate(50px);
}

/* 요소를 회전 */
section:nth-of-type(4) article {
    transform: rotate(45deg)
}


/* 콘텐츠 모양을 자유롭게 변형하기2 */
/* 원근감을 만들어주는 태그 perspective */
/* 100px 과장된 원근감 */
/* 400px 적당한 원근감 */
/* 1000px 거의 평면처럼 보임 */

.transform2 section {
    perspective: 400px;
}

.transform2 section:nth-of-type(1) article {
    transform: rotateX(45deg);
}

.transform2 section:nth-of-type(2) article {
    transform: rotateY(45deg);
}

.transform2 section:nth-of-type(3) article {
    transform: translateZ(100px);
}

.transform2 section:nth-of-type(4) article {
    transform: translateZ(-100px);
}

/*  콘텐츠 모양을 자유롭게 변형하기3 중심축 변경  */
.transform3 section {
    perspective: 600px;
}

.transform3 section:nth-of-type(1) article {
    transform: rotateY(120deg);
    transform-origin: center center;
}

.transform3 section:nth-of-type(2) article {
    transform: rotateY(120deg);
    transform-origin: right center;
}

/* transition으로 전환효과 적용하기 */

.trasition .red_box {
    width: 100px;
    height: 100px;
    background-color: red;
    text-align: center;
    color: white;
    line-height: 100px;
}

.trasition .red_box:hover {
    background-color: blue;
    transition-duration: 5s;
    transition-delay: 1s;
}

/* transition의 속성으로 요소 변화시키기 */
.container .bar {
    width: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: gray;
    color: white;
    transition-property: width;
    transition-duration: 5s;
}

.container:hover .bar {
    width: 220px;
}

/* linear: 속도가 일정 */
.bar:nth-child(1) {
    transition-timing-function: linear;
}

/* ease: 처음에는 속도가 빨라지다가 중간부터 느려짐 */
.bar:nth-child(2) {
    transition-timing-function: ease;
}

/* ease-in: 처음 속도 느림, 점점 빨라짐 */
.bar:nth-child(3) {
    transition-timing-function: ease-in;
}

/* ease-out: 처음 빠름 점점 느려짐 */
.bar:nth-child(4) {
    transition-timing-function: ease-out;
}

/* ease-in-out 처음 느림 중간 빠름 마지막 느림 */
.bar:nth-child(5) {
    transition-timing-function: ease-in-out;
}
