/* 플렉스 박스 flex box layout */
/* 1차원 방식(가로, 세로)으로 레이아웃을 설계하는 방식 */
/* 블록 요소를 자유롭게 정렬하기 위해서 만들어짐 */

.flex-container {
    width: 300px;
    height: 200px;
    background-color: gray;
    border: 1px solid black;
    /* float: left; */
    display: flex;

    /* 요소의 방향 flex-direction row가 기본*/
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* 제한된 영역을 넘었을 때 줄바꿈 wrap */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    /* flex-flow: direction + wrap */
    /* flex-flow: column wrap; */

    /* 가로방향(X축) 아이템 정렬 flex-start 기본값 */
    /* justify-content: flex-start;  */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* 세로방향(y축) 아이템 정렬 stretch*/
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */

    /* align-content wrap이 되어 2줄 이상일 때 */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: first baseline; */
    /* align-content: last baseline; */

    /* 아이템을 각각 정렬 align-self */

}

.flex-item {
    color: white;
    background-color: brown;
    border: 1px solid white;
}

.flex-item:nth-child(2n) {
    background-color: blue;
}

.flex-item:nth-child(1) {
    align-self: flex-start;
}

.flex-item:nth-child(2) {
    align-self: center;
}

.flex-item:nth-child(3) {
    align-self: center;
}

.flex-item:nth-child(4) {
    align-self: self-end ;
}